﻿<CodeSnippet>
 @(@"<DxComboBox NullText=""Select Option ...""
                Data=""@(new string[] { null, ""Option 1"", ""Option 2"", ""Option 3"" })""
                @bind-SelectedItem=""@Option""></DxComboBox>

@code {
    string option;
    string Option { get => option; set { option = value; InvokeAsync(StateHasChanged); } }
}")
</CodeSnippet>