﻿<CodeSnippet>
@(@"<DxDataGrid Data=""@DataSource"">
    <DxDataGridColumn Field=""@nameof(ProductFlat.Id"") 
                      AllowSort=""@DefaultBoolean.False"">
    </DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(ProductFlat.Category)""
                      SortOrder=""@DataGridColumnSortOrder.Descending"" 
                      SortIndex=""0"">
    </DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(ProductFlat.Subcategory)""
                      SortOrder=""@DataGridColumnSortOrder.Ascending""
                      SortIndex=""1"">
    </DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(ProductFlat.ProductName)""
                      Caption=""Product Name"">
    </DxDataGridColumn>
</DxDataGrid>")
</CodeSnippet>