﻿<CodeSnippet>
@(@"<DxDataGrid Data=""@ProductCategories.DataSource"" AutoCollapseDetailRow=""true"" ShowFilterRow=""true"">
    <ChildContent>
        <DxDataGridColumn Field=""@nameof(ProductCategory.ProductSubcategoryID)"" Caption=""ID"" AllowSort=""@DefaultBoolean.False"" Width=""50px""></DxDataGridColumn>
        <DxDataGridColumn Field=""@nameof(ProductCategory.Subcategory)"" SortOrder=""@DataGridColumnSortOrder.Descending"" SortIndex=""0""></DxDataGridColumn>
        <DxDataGridColumn Field=""@nameof(ProductCategory.Category)"" SortOrder=""@DataGridColumnSortOrder.Ascending"" SortIndex=""1""></DxDataGridColumn>
    </ChildContent>
    <DetailRowTemplate>
        <div class=""card border-0"">
            <div class=""card-body"">
                <h5 class=""card-title"">Available Products</h5>
                <div>
                    <DxDataGrid ShowPager=""false"" PageSize=""10"" Data=""@ProductsDataSource.Where(x => x.ProductCategoryId == context.ProductSubcategoryID && x.Availability)"">
                        <ChildContent>
                            <DxDataGridColumn Field=""@nameof(ProductFlat.Id)"" Caption=""ID"" AllowSort=""@DefaultBoolean.False"" Width=""50px""></DxDataGridColumn>
                            <DxDataGridColumn Field=""@nameof(ProductFlat.ProductName)"" SortOrder=""@DataGridColumnSortOrder.Descending"" SortIndex=""0""></DxDataGridColumn>
                            <DxDataGridColumn Field=""@nameof(ProductFlat.Subcategory)"" SortOrder=""@DataGridColumnSortOrder.Ascending"" SortIndex=""1""></DxDataGridColumn>
                        </ChildContent>
                    </DxDataGrid>
                </div>
            </div>
        </div>
    </DetailRowTemplate>
</DxDataGrid>")
</CodeSnippet>