﻿<CodeSnippet>
@(@"<DxDataGrid Data=""@largeDataSource"" SelectionMode=""DataGridSelectionMode.None"" PageSize=""10"" KeyFieldName=""Oid"" ShowFilterRow=""false"">
    <DxDataGridColumn Field=""@nameof(AreaRentInfo.State)""></DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(AreaRentInfo.Area)""></DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(AreaRentInfo.City)"" Caption=""County""></DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(AreaRentInfo.Name)"" Caption=""Location""></DxDataGridColumn>
    <DxDataGridSpinEditColumn Field=""@nameof(AreaRentInfo.Year)""></DxDataGridSpinEditColumn>
    <DxDataGridSpinEditColumn Field=""@nameof(AreaRentInfo.Bedrooms)""></DxDataGridSpinEditColumn>
    <DxDataGridSpinEditColumn Field=""@nameof(AreaRentInfo.Rent)"">
        <DisplayTemplate>
            @(((context as AreaRentInfo).Rent).ToString(""C2""))
        </DisplayTemplate>
    </DxDataGridSpinEditColumn>
    <DxDataGridSpinEditColumn Field=""@nameof(AreaRentInfo.Population)"">
        <DisplayTemplate>
            @(((context as AreaRentInfo).Population).ToString(""#,0""))
        </DisplayTemplate>
    </DxDataGridSpinEditColumn>
</DxDataGrid>")
</CodeSnippet>
