﻿<CodeSnippet>
@(@"<DxFormLayout>
    <DxFormLayoutGroup Caption=""Personal Information"">
        <DxFormLayoutItem Caption=""First Name:"" ColSpanMd=""6"">
            <Template>
                <DxTextBox @bind-Text=""@FirstName""></DxTextBox>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption=""Last Name:"" ColSpanMd=""6"">
            <Template>
                <DxTextBox @bind-Text=""@LastName""></DxTextBox>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption=""Birthday:"" ColSpanMd=""6"">
            <Template>
                <DxDateEdit @bind-Date=""@Birthday""></DxDateEdit>
            </Template>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>

    <DxFormLayoutGroup Caption=""Work Information"">
        <DxFormLayoutItem Caption=""Position:"" ColSpanMd=""6"">
            <Template>
                <DxTextBox @bind-Text=""@Position""></DxTextBox>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption=""Hire Date:"" ColSpanMd=""6"">
            <Template>
                <DxDateEdit @bind-Date=""@HireDate""></DxDateEdit>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption=""Notes:"" ColSpanMd=""6"">
            <Template>
                <DxTextBox @bind-Text=""@Notes""></DxTextBox>
            </Template>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>

@code {
    string firstName = ""Nancy"";
    string FirstName { get => firstName; set { firstName = value; OnChanged(); } }

    string lastName = ""Davolio"";
    string LastName { get => lastName; set { lastName = value; OnChanged(); } }

    DateTime birthday = DateTime.Now.AddYears(-20);
    DateTime Birthday { get => birthday; set { birthday = value; OnChanged(); } }

    string position = ""Sales Representative"";
    string Position { get => position; set { position = value; OnChanged(); } }

    DateTime hireDate = DateTime.Now.AddYears(-20);
    DateTime HireDate { get => hireDate; set { hireDate = value; OnChanged(); } }

    string notes = ""Education includes a BA in psychology from Colorado State University in 1970.  She also completed 'The Art of the Cold Call.'  Nancy is a member of Toastmasters International."";
    string Notes { get => notes; set { notes = value; OnChanged(); } }

    void OnChanged() { InvokeAsync(StateHasChanged); }
}")
</CodeSnippet>