﻿@page "/SchedulerViewTypes"

    <div class="demo-description">
        <h2>Scheduler - View Types</h2>
        <p>
            The DevExpress Scheduler for Blazor can display appointments in a Day, Work Week or Week View. This demo illustrates how to use and customize these views:
        </p>
        <ul>
            <li>
                Week View (<b>DxSchedulerWeekView</b>) - Displays appointments for all the days in a specified week.
            </li>
            <li>
                Work Week View (<b>DxSchedulerWorkWeekView</b>) - Displays appointments for work days in a week.
            </li>
            <li>
                Day View (<b>DxSchedulerDayView</b>) - Displays appointments for specified days.
            </li>
        </ul>
        <p>
            You can use the <b>ActiveViewType</b> property to specify the initial view, and the View Selector to switch between views.
        </p>
        <p>
            Related API members:
        </p>
        <ul>
            <li>
                <b>DayCount</b> - Specifies the number of days that are displayed within the view.
            </li>
            <li>
                <b>VisibleTime</b> - Specifies the visible time interval of the view.
            </li>
            <li>
                <b>ShowWorkTimeOnly</b> - Specifies  a value that indicates if Scheduler should show its data only for the working hours in the view.
            </li>
            <li>
                <b>WorkTime</b> - Specifies the work time interval for the view.
            </li>
        </ul>
    </div>

<Scheduler_WeekView />
<Scheduler_WorkWeekView />
<Scheduler_DayView />
