﻿<CodeSnippet>
@(@"<DxComboBox Data=""@Strings""
            DataLoadMode=""@ComboBoxDataLoadMode.VirtualScrolling""
            FilteringMode=""@DataGridFilteringMode.Contains""
            @bind-SelectedItem=""@SelectedItem"">

</DxComboBox>")
</CodeSnippet>