﻿<CodeSnippet>
@(@"<<DxComboBox Data=""@Persons.DataSource""
            TextFieldName=""Text""
            @bind-SelectedItem=""@SelectedRealBusinessObject"">
</DxComboBox>

@code {
    Person selectedRealBusinessObject = ...;
    Person SelectedRealBusinessObject { 
        get => selectedRealBusinessObject; 
        set { selectedRealBusinessObject = value; InvokeAsync(StateHasChanged); } 
    }
}

public class Person
{
    public int Id { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public Department Department { get; set; }

    public string Text => $""{FirstName} {LastName} ({Department} Dept.)"";
}")
</CodeSnippet>