﻿<div class="demo-description">
    <h2>Text Box</h2>
    <p>
        The DxTextBox is a UI component that enables a user to enter and edit a single line of text.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">TextBox text is: "<b>@TextValue</b>"</div>
    <div class="card-body mw-480">
        <DxTextBox @bind-Text="@TextValue"></DxTextBox>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TextBox></CodeSnippet_Editor_TextBox>
    </div>
</div>

@code {
    string textValue = "Some text";
    string TextValue { get => textValue; set { textValue = value; InvokeAsync(StateHasChanged); } }
}
