﻿@using Demo.Blazor.Model

<div class="demo-description" id="ItemWrapping">
    <h2>Form Layout - Item Wrapping</h2>
    <p>
        All layout items are rendered as <b>.col</b> elements within a single <b>.row</b> container by default. An item moves to the next row if there are not enough columns within the current row. You can also use an item’s <b>BeginRow</b> property to explicitly indicate that it should be placed onto a new row.
    </p>
    <p>
        Refer to the <a href="http://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap documentation</a> for additional information on the Bootstrap Grid system.
    </p>
</div>

<div class="card demo-card-wide">
    <div class="card-header">@nameof(Address)=<b>@(Address)</b>, @nameof(City)=<b>@(City)</b>, @nameof(ZipCode)=<b>@(ZipCode)</b>, @nameof(Country)=<b>@(Country)</b></div>
    <div class="card-body">
        <DxFormLayout>
            <DxFormLayoutItem Caption="Address:" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@Address"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="City:">
                <Template>
                    <DxTextBox @bind-Text="@City"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Postal/ZIP Code:" BeginRow="true">
                <Template>
                    <DxTextBox @bind-Text="@ZipCode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Country" BeginRow="true">
                <Template>
                    <DxTextBox @bind-Text="@Country"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

        </DxFormLayout>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_FormLayout_Default_Wrapping />
    </div>
</div>

@code {
    string address = "120 Hanover Sq.";
    string Address { get => address; set { address = value; OnChanged(); } }

    string city = "London";
    string City { get => city; set { city = value; OnChanged(); } }

    string zipCode = "WA1 1DP";
    string ZipCode { get => zipCode; set { zipCode = value; OnChanged(); } }

    string country = "UK";
    string Country { get => country; set { country = value; OnChanged(); } }

    void OnChanged() { InvokeAsync(StateHasChanged); }
}
