﻿@using Demo.Blazor.Model
@using DevExpress.Blazor

<div class="demo-description" id="WorkWeekView">
    <h2>Scheduler - Work Week View</h2>
    <p>
        This module demonstrates how to configure the Work Week View (<b>DxSchedulerWorkWeekView</b>).
    </p>
</div>

<DxScheduler Id="schedulerWorkWeekView"
             StartDate="@DateTime.Today"
             DataStorage="@DataStorage">

    <DxSchedulerWorkWeekView ShowWorkTimeOnly="true"></DxSchedulerWorkWeekView>
</DxScheduler>
<CodeSnippet_Scheduler_WorkWeekView></CodeSnippet_Scheduler_WorkWeekView>

@code {
    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage() {
        AppointmentsSource = AppointmentCollection.GetAppointments(),
        AppointmentMappings = new DxSchedulerAppointmentMappings() {
            Type = "AppointmentType",
            Start = "StartDate",
            End = "EndDate",
            Subject = "Caption",
            AllDay = "AllDay",
            Location = "Location",
            Description = "Description",
            LabelId = "Label",
            StatusId = "Status",
            RecurrenceInfo = "Recurrence"
        }
    };
}
