<DxTreeView @ref="@treeView" CssClass="app-sidebar" ExpandButtonIconCssClass="demo-icon-expand" CollapseButtonIconCssClass="demo-icon-collapse"
            AllowSelectNodes="true" BeforeCollapse="@BeforeExpandCollapse" BeforeExpand="@BeforeExpandCollapse" SelectionChanged="@SelectionChanged">
    <Nodes>
        <DxTreeViewNode Text="Overview" NavigateUrl="">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Data Grid" BadgeText="Upd">
            <Nodes>
                <DxTreeViewNode Text="Column Types" NavigateUrl="GridColumnTypes"></DxTreeViewNode>
                <DxTreeViewNode Text="Sort Data" NavigateUrl="GridSortData"></DxTreeViewNode>
                <DxTreeViewNode Text="Grouping" NavigateUrl="GridGrouping" BadgeText="New"></DxTreeViewNode>
                <DxTreeViewNode Text="Selection" NavigateUrl="GridSelection" BadgeText="New"></DxTreeViewNode>
                <DxTreeViewNode Text="Templates" NavigateUrl="GridTemplate"></DxTreeViewNode>
                <DxTreeViewNode Text="Scrolling" NavigateUrl="GridScrolling"></DxTreeViewNode>
                <DxTreeViewNode Text="Virtual Scrolling" NavigateUrl="GridVirtualScrolling"></DxTreeViewNode>
                <DxTreeViewNode Text="Cascading Editors" NavigateUrl="GridCascadingEditors"></DxTreeViewNode>
                <DxTreeViewNode Text="Edit Form Validation" NavigateUrl="GridEditFormTemplateValidation"></DxTreeViewNode>
                <DxTreeViewNode Text="Large Data Source" NavigateUrl="GridLargeDataBase"></DxTreeViewNode>
                <DxTreeViewNode Text="Master-Detail View" NavigateUrl="GridMasterDetail" BadgeText="New"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Pivot Grid">
            <Nodes>
                <DxTreeViewNode Text="Overview" NavigateUrl="PivotGrid"></DxTreeViewNode>
                <DxTreeViewNode Text="Templates" NavigateUrl="PivotGridTemplates"></DxTreeViewNode>
                <DxTreeViewNode Text="Large Data Source" NavigateUrl="PivotGridLargeDataBase"></DxTreeViewNode>
                <DxTreeViewNode Text="Chart Integration" NavigateUrl="PivotGridChartIntegration"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Charts">
            <Nodes>
                <DxTreeViewNode Text="Series Types" NavigateUrl="ChartSeriesTypes"></DxTreeViewNode>
                <DxTreeViewNode Text="Dynamic Series" NavigateUrl="ChartDynamicSeries"></DxTreeViewNode>
                <DxTreeViewNode Text="Customization" NavigateUrl="ChartCustomization"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Scheduler">
            <Nodes>
                <DxTreeViewNode Text="View Types" NavigateUrl="SchedulerViewTypes"></DxTreeViewNode>
                <DxTreeViewNode Text="Recurring Appointments" NavigateUrl="SchedulerRecurringAppointments"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Data Editors" BadgeText="Upd">
            <Nodes>
                <DxTreeViewNode Text="ComboBox" NavigateUrl="ComboBox" BadgeText="Upd">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Spin Edit" NavigateUrl="SpinEdit" BadgeText="Upd">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Date Edit" NavigateUrl="DateEdit" BadgeText="Upd">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Text Box" NavigateUrl="TextBox" BadgeText="Upd">
                </DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Form Layout" NavigateUrl="FormLayout">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Form Validation" NavigateUrl="FormValidation">
        </DxTreeViewNode>
        <DxTreeViewNode Text="TreeView" NavigateUrl="TreeView">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Tabs" NavigateUrl="Tabs">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Pager" NavigateUrl="Pager">
        </DxTreeViewNode>
    </Nodes>
</DxTreeView>

<div class="footer">
    <div class="info-wrapper">
        <div class="version">Version: Beta</div>
        <div class="copyright">
            <span>Copyright &copy; 2006-</span><span>@(DateTime.Now.Year.ToString())</span>
            Developer Express Inc
        </div>
    </div>
</div>

@code {
    DxTreeView treeView;

    protected void SelectionChanged(TreeViewNodeEventArgs e) {
        if (e.NodeInfo.IsLeaf && e.NodeInfo.Level == 0) {
            treeView.CollapseAll();
        }
        else if (!e.NodeInfo.IsLeaf) {
            Func<ITreeViewNodeInfo, bool> nodePredicate = n => string.Equals(n.Text, e.NodeInfo.Text);

            bool nodeExpanded = treeView.GetNodeExpanded(nodePredicate);
            if (!nodeExpanded) {
                treeView.CollapseAll();
            }
            treeView.SetNodeExpanded(nodePredicate, !nodeExpanded);
        }
    }

    protected void BeforeExpandCollapse(TreeViewNodeCancelEventArgs e) {
        e.Cancel = true;
    }
}