@page "/GridColumnTypes"
@using Demo.Blazor.Services
@inject WeatherForecastService ForecastService

<div class="demo-description">
    <h2>Data Grid - Column Types</h2>

    <p>
        This demo demonstrates the different column types supported by the DevExpress Data Grid for Blazor.
    </p>
    <ul>
        <li>
            <p><b>DxDataGridCommandColumn</b> - Displays data management commands such as New, Edit, Delete, Update, and so on.</p>
        </li>
        <li>
            <p><b>DxDataGridColumn (Temp. (&#x2103;))</b> - Default column type that displays strings and uses a text box to edit values.</p>
        </li>
        <li>
            <p><b>DxDataGridSpinEditColumn (Temp. (&#x2109;))</b> - Uses a spin editor with up/down buttons to edit column values.</p>
        </li>
        <li>
            <p><b>DxDataGridComboBoxColumn (Summary)</b> - Uses a combobox control to edit column values.</p>
        </li>
        <li>
            <p><b>DxDataGridDateEditColumn (Date)</b> - Uses a drop-down calendar control to edit column values.</p>
        </li>
    </ul>
    <p>
        Click the Edit command in any row to see the integrated data editors displayed by the columns listed above.
    </p>
</div>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data="@forecasts"
                PageSize="5"
                RowRemoving="@((dataItem) => OnRowRemoving(dataItem))"
                RowUpdating="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))"
                RowInserting="@((newValues) => OnRowInserting(newValues))">
        <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>

        <DxDataGridColumn Field="@nameof(WeatherForecast.TemperatureC)" Caption="@("Temp. (\x2103)")" TextAlignment="@DataGridTextAlign.Right"></DxDataGridColumn>
        <DxDataGridSpinEditColumn Field="@nameof(WeatherForecast.TemperatureF)" Caption="@("Temp. (\x2109)")"></DxDataGridSpinEditColumn>
        <DxDataGridComboBoxColumn Field="@nameof(WeatherForecast.Summary)" Caption="Summary" Data="@summaries"></DxDataGridComboBoxColumn>
        <DxDataGridDateEditColumn Field="@nameof(WeatherForecast.Date)" DisplayFormatString="D" EditFormatString="d"></DxDataGridDateEditColumn>
    </DxDataGrid>

    <CodeSnippet_GridColumnTypes></CodeSnippet_GridColumnTypes>

}
@code {
    WeatherForecast[] forecasts;
    string[] summaries;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync();
        summaries = await ForecastService.GetSummariesAsync();
    }
    async void OnRowRemoving(WeatherForecast dataItem)
    {
        forecasts = await ForecastService.Remove(dataItem);
        await InvokeAsync(StateHasChanged);
    }
    async void OnRowUpdating(WeatherForecast dataItem, Dictionary<string, object> newValue)
    {
        forecasts = await ForecastService.Update(dataItem, newValue);
        await InvokeAsync(StateHasChanged);
    }
    async void OnRowInserting(Dictionary<string, object> newValue)
    {
        forecasts = await ForecastService.Insert(newValue);
        await InvokeAsync(StateHasChanged);
    }
}
