﻿<div class="demo-description" id="Overview">
    <h2><NavLink class="demo-anchor" href="DateEdit#Overview" />Date Edit</h2>
    <p>
        DxDateEdit is a date editor with a dropdown calendar. You can enter a date into the text box or pick one from the dropdown.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">Selected date is: <b>@DateTimeValue.ToString("dddd, dd MMMM yyyy")</b></div>
    <div class="card-body mw-480" style="height: 425px">
        <DxDateEdit @bind-Date="@DateTimeValue"
                    @bind-DropDownVisible="@DropDownVisible"></DxDateEdit>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_DateEdit></CodeSnippet_Editor_DateEdit>
    </div>
</div>

@code {
    DateTime dateTimeValue = DateTime.Now;
    DateTime DateTimeValue { get => dateTimeValue; set { dateTimeValue = value; InvokeAsync(StateHasChanged); }  }

    bool dropDownVisible = true;
    bool DropDownVisible { get => dropDownVisible; set { dropDownVisible = value; InvokeAsync(StateHasChanged); }  }
}
