﻿@using Demo.Blazor.Model

<div class="demo-description" id="NullText">
    <h2><NavLink class="demo-anchor" href="ComboBox#NullText" />ComboBox - NullText</h2>
    <p>
        This example illustrates how the <b>NullText</b> property can be used to display prompt text (watermark) in the editor's edit box. Specified text is displayed when the value of the editor is null.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">Option Selected: <b>@Option</b></div>
    <div class="card-body mw-480" style="height: 210px">
        <DxComboBox NullText="Select an option..."
                    Data="@(new string[] { null, "Option 1", "Option 2", "Option 3" })"
                    @bind-SelectedItem="@Option"
                    @bind-DropDownVisible="@DropDownVisible"/>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_ComboBox_NullText></CodeSnippet_Editor_ComboBox_NullText>
    </div>
</div>

@code {
    string option;
    string Option { get => option; set { option = value; InvokeAsync(StateHasChanged) ;} }

    bool dropDownVisible = true;
    bool DropDownVisible { get => dropDownVisible; set { dropDownVisible = value; InvokeAsync(StateHasChanged); }  }
}
