<div class="demo-description" id="AllPageNumbers">
    <h2><NavLink class="demo-anchor" href="Pager#AllPageNumbers" />Pager - All Pages Numbers Visible</h2>
    <p>
        This example demonstrates a simple scenario where the Pager Control displays all its page numbers simultaneously.
    </p>
</div>

<div class="card demo-card">
    <div class="card-body">
        <DxPager PageCount="5"
                 CollapseButtonCount="10"
                 ActivePageIndex="2">
        </DxPager>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Pager_Small></CodeSnippet_Pager_Small>
    </div>
</div>