﻿@using Demo.Blazor.Model
@using DevExpress.Blazor

<div class="demo-description" id="DayView">
    <h2><NavLink class="demo-anchor" href="SchedulerViewTypes#DayView" />Scheduler - Day View</h2>
    <p>
        This module demonstrates how to configure the Day View (<b>DxSchedulerDayView</b>).
    </p>
</div>

<DxScheduler Id="schedulerDayView"
             StartDate="@DateTime.Today"
             DataStorage="@DataStorage">

    <DxSchedulerDayView ShowWorkTimeOnly="true" DayCount="1"></DxSchedulerDayView>
</DxScheduler>
<CodeSnippet_Scheduler_DayView></CodeSnippet_Scheduler_DayView>

@code {
    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage() {
        AppointmentsSource = AppointmentCollection.GetAppointments(),
        AppointmentMappings = new DxSchedulerAppointmentMappings() {
            Type = "AppointmentType",
            Start = "StartDate",
            End = "EndDate",
            Subject = "Caption",
            AllDay = "AllDay",
            Location = "Location",
            Description = "Description",
            LabelId = "Label",
            StatusId = "Status",
            RecurrenceInfo = "Recurrence"
        }
    };
}