﻿<div class="demo-description">
    <h2>Text Box - Read-Only Mode<span class="demo-badge badge badge-success">New</span></h2>
    <p>
        The Text Box component allows you to display the value, but do not allow users to change it.
        Set the <b>ReadOnly</b> property to <b>true</b> to activate the read-only mode.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">TextBox text is: "<b>@TextValue</b>"</div>
    <div class="card-body mw-480">
        <DxTextBox @bind-Text="@TextValue" ReadOnly="true"></DxTextBox>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TextBox_ReadOnly></CodeSnippet_Editor_TextBox_ReadOnly>
    </div>
</div>

@code {
    string textValue = "End user can change the DxTextBox Value";
    string TextValue { get => textValue; set { textValue = value; InvokeAsync(StateHasChanged); } }
}
