﻿<div class="demo-description">
    <h2>Text Box - Password<span class="demo-badge badge badge-success">New</span></h2>
    <p>
        The Text Box component allows you to mask all characters typed into the editor.
        Set the <b>Password</b> property to <b>true</b> to activate the password mode.
    </p>
</div>

<div class="card demo-card">
    <div class="card-body mw-480">
        <DxTextBox @bind-Text="@TextValue" Password="true"></DxTextBox>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TextBox_Password></CodeSnippet_Editor_TextBox_Password>
    </div>
</div>

@code {
    string textValue = "";
    string TextValue { get => textValue; set { textValue = value; InvokeAsync(StateHasChanged); } }
}
